* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;;
}

body {
    background-color: rgb(245, 245, 245);
}

.generator {
    height: 100%;
    width: 100%;
}

.generator__header-textDescription {
    margin-top: 2em;
}

.generator__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generator__header-text {
    display: block;
    text-align: center;
}

.generator__form {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    width: 800px;
    margin: 0 auto 15px;
}

.generator__form-inputDecorated {
    display: flex;
    width: 800px;
    border: none;
    height: 100px;
    font-size: 45px;
    text-align: center;
    cursor: pointer;
}

.generator__settings {
    margin: 0 auto;
    width: 770px;
    height: 355px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5)

}

.generator__settings-text {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.generator__settings-configs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}